{% extends "base.html" %}
    {% load static %}

    {% block stylesheets%}
        <link rel="stylesheet" type="text/css" href="{% static "../static/css/animation.css" %}" media="screen"/>
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/font-awesome.min.css">
    {% endblock %}

    {% block scripts %}
        <script src="https://kit.fontawesome.com/d821bb9b77.js" crossorigin="anonymous"></script>
    {% endblock %}

    {% block content %}

        <div class="empty100"></div>

        <div class="center1">
            <h1 class="orange-text lineheight">Olá, <br><b class="atention">eu me chamo </b><b class="orange-text">{{ user.first_name }}</b></h1>
        </div>
        <div class="center1 typewriter" style="top: 60%">
            <h1>Desenvolvedor WEB</h1>
        </div>

        <div class="empty100"></div>
        <div class="empty100"></div>

        <h1 class="lessatention">Minhas últimas postagens</h1>
        <div class="container">
            <div class="item">
                <div class="blog-title">
                    <a href="{% url 'blog:post' post1.id %}" class="link">{{ post1.title }}</a>
                </div>
                <div class="blog-post">
                    <p>kalsdjfaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <a href="{% url 'blog:post' post1.id %}" class="link" style="font-size: 20px">Continuar a ler</a>
            </div>
            <div class="item">
                <div class="blog-title">
                    <a href="{% url 'blog:post' post2.id %}" class="link">{{ post2.title }}</a>
                </div>
                <div class="blog-post">
                    <p>kalsdjfaaaaaaaaaaaaaaaaaaa</p>
                </div>
                <a href="{% url 'blog:post' post2.id %}" class="link" style="font-size: 20px">Continuar a ler</a>
            </div>

        </div>


        <div class="empty100"></div>
        <div class="empty100"></div>
        <div class="empty100"></div>
        <div class="empty100"></div>

        <h1 class="lessatention">Sobre mim</h1>
        <div class="container">
            <div class="leftpane" style="width: 60%">
                <div class="blog-post">
                    {{ user.about }}
                </div>
            </div>
            <div class="rightpane" style="width: 30%">
                <div style="height: fit-content">
                    {% for skill in user.skill_set.all %}
                        <div class="w3-light-grey" style="height: fit-content">
                            <div id="myBar" class="w3-container w3-orange" style="height:12px;width:{{ skill.proficiency }}%"></div>
                        </div>
                        <p id="demo">{{ skill.name }}</p>
                    {% endfor %}
                </div>
            </div>

        </div>

        <a href="" class="link" style="font-size: 20px">Aprenda mais sobre mim</a>

        <div class="empty100"></div>

        <h1 class="lessatention">Fale comigo</h1>


        <div class="container" style="position:relative">
            <ul class="hlist" style="left:50px">
                <li class="lista"><i class="fab fa-facebook-square fa-5x" style="color:orange"></i></li>
                <li class="lista"><i class="fab fa-linkedin fa-5x" style="color:orange"></i></li>
                <li class="lista"><i class="fas fa-phone-square-alt fa-5x" style="color:orange"></i></li>
                <li class="lista"><i class="fas fa-envelope-square fa-5x" style="color:orange"></i></li>
            </ul>
        </div>

        <div class="empty100"></div>
        <div class="empty100"></div>

        <a href="" class="link" style="font-size: 20px">Me envie uma mensagem</a>

    {% endblock %}