.wrap-input100 {
    width: 100%;
    position: relative;
    border-bottom: 2px solid #d9d9d9;
    padding-bottom: 13px;
    margin-bottom: 27px;
    transition: 150ms linear;
}

.wrap-input100:hover {
    border-bottom: 2px solid orange;
}

.input100 {
    display: block;
    width: 100%;
    background: 0 0;
    font-family: Poppins-Medium, serif;
    font-size: 18px;
    color: #333;
    line-height: 1.2;
    padding: 0 5px;
    border: 0;
    outline: 0;
}

input {
    border: 0;
    outline: 0;
}

input:focus {
    outline: none !important;
}

.button1 {
    background-color: transparent;
    border: 2px solid orange;
    transition: 150ms linear;
}

.button1:hover {
    background-color: orange;
    color: ghostwhite;
}