html, body {
    height: 98%;
    width: 100%;
    margin: 0;
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
}

.center {
    border: 5px solid ghostwhite;
    background-color: ghostwhite;
    padding: 25px 50px 75px;
    width: 93%;
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.center1 {
    display: table;
    margin: 0 auto;
}

.scrollbox {
    width: 100%;
    height: 100%;
    line-height:3em;
    overflow-y: scroll;
    margin: 0 auto;
    padding:5px;
}

.blog-post {
    width: 90%;
    height: fit-content;
    overflow: hidden;
    line-height: 100%;
    font-size: 20px;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: navajowhite;
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.orange-text {
    font-size: 60px;
    color: orange;
}

.lineheight {
    line-height: 110%;
}

.atention {
    color: dimgray;
    font-size: 60px
}

.lessatention {
    color: dimgray;
    font-size: 40px
}

.empty100 {
    height: 100px;
    background-color: transparent;
}

.empty50 {
    height: 100px;
    background-color: transparent;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container1 {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.flex-start {
    justify-content: flex-start;
}

.hlist {
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 30px
}

.item1 {
    flex: 0 1 auto;
    max-width: 50%;
}

.margin {
    margin-left: 20px;
}

.blog-title {
    float: left;
    width: 80%
}

.about {
    height: 100px;
    font-size: 25px;
    width: 60%;
    float: left;
    overflow: hidden;
}