html, body {
    height: 98%;
    margin: 0;
    background-color: orange;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid ghostwhite;
    background-color: ghostwhite;
    padding: 10px;
    width: 93%;
    height: 86%;
}

.center1 {
    display: table;
    margin: 0 auto;
}

.scrollbox {
    width:93%;
    height: 75%;
    line-height:3em;
    overflow-y: scroll;
    margin: 0 auto;
    padding:5px;
    left: 50%;
    top: 330px;
    transform: translate(-50%, -50%);
    position: absolute;
}

.blog-post {
    width: 90%;
    height: fit-content;
    overflow: hidden;
    line-height: 100%;
    font-size: 20px;
    text-overflow: ellipsis;
}

::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: navajowhite;
}

::-webkit-scrollbar-thumb:hover {
  background: orange;
}

.hlist {
    display: flex;
    top: 20px;
    right: 50px;
    position: absolute
}
.hlist li {
    list-style-type: none;
    color: aqua;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li.lista {
    float: right;
    margin: 8px;
}

.orange-text {
    font-size: 60px;
    color: orange;
}

.lineheight {
    line-height: 110%;
}

.atention {
    color: dimgray;
    font-size: 60px
}

.lessatention {
    color: dimgray;
    font-size: 40px
}

.empty100 {
    height: 100px;
    background-color: transparent;
}

.leftpane {
    width: 50%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.rightpane {
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
}

.leftpane1 {
    width: 50%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}

.rightpane1 {
    width: 50%;
    height: 100%;
    position: relative;
    float: right;
    border-collapse: collapse;
}

.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.item1 {
    flex: 0 1 auto;
    max-width: 50%;
}

.blog-title {
    float: left;
    width: 80%
}

.about {
    height: 100px;
    font-size: 25px;
    width: 60%;
    float: left;
    overflow: hidden;
}