{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/code.css" %}"/>
{% endblock %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
    <div class="center2">
        <div class="item2">
            <h3>{{ blog.title }}</h3>
            <p style="line-height: 80%">{{ blog.user }}</p>
            <p>Publicado em {{ blog.pub_date }}</p>
            {% autoescape off %}
                {{ blog.text }}
            {% endautoescape %}
        </div>
    </div>


{% endblock %}