{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static "css/code.css" %}"/>
{% endblock %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}
    <div class="center2">
        <div class="item2">
            <h3>{{ blog.title }}</h3>
            {% if blog.subtitle %}
                <h4 style="color: darkgray; line-height: 80%">{{ blog.subtitle }}</h4>
            {% endif %}
            <div class="center-horizontally" style="justify-content: space-between; padding: 0 30px">
                <p>{{ blog.user }}</p>
                <p>Publicado em {{ blog.pub_date }}</p>
            </div>
            {% autoescape off %}
                {{ blog.text }}
            {% endautoescape %}
        </div>
    </div>


{% endblock %}